@media (max-width: 1080px){
/* Footer */
  .logotipe{
    width: 100%;
    flex-direction: column;
  }

  .size-logo{
    display: none;
    width: 350px;
    height: 100px;
  }

  .size-logo1{
    display: flex;
    width: 300px;
    height: 100px;
  }
  .support-logo{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    max-width: 350px;
    max-height: 100px;
  }

  .logotipe{
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;

  }

  .leftt{
    width: 100%;
    max-width: 1080px;
  }

  .link-email{
    font-size: 24px;
    display: flex;
    align-self: flex-end;
  } 

  .information3 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    max-width: 1080px;
  }
  .row_line{
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .lineslogo{
    width: 100%;
    max-width: 1080px;
  }
  .gmail_it{
    display: flex;
    align-items: flex-end;
  }
  .row_lines{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .rightt1{
    margin-left: 40px;
  }
}