footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1860px;
    margin: 0 auto;
}
.logotipe{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 50px;
    width: 100%;
    max-width: 450px;
    max-height: 395px;
}
.leftt{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
    padding: 20px;
    max-width: 350px;  
    max-height: 395px;
}
 
.centerr {
    max-width: 400px;
    max-height: 300px;
}
 
.ouroffice{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 400px;
    max-height: 300px;
}
 
.rightt{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: auto;
    height: auto;
}
 
.contact-us{
    width: 254px;
    height: 59px;
    border: 0;
    background-color: #2E2BD0;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    font-family: myFont;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
 
.size-logo{
    width: 39px;
    height: 40px;
}
 
h2{
    color: black;
    margin-left: 0;
}
 
h3{
    color: #2E2BD0;
}
 
.information1 p{
color: #94969c;
}
 
.information2 p{
color: #94969c;
}
 
.information3{
    min-width: 1860px;
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5%;
}
 
h4{
    color: #bcbdc1;
}
 
.footer-line{
    height: 2px;
    width: 97%;
    background-color: #94969c;
    margin: 0 auto;
}

.row_line{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

a{
    display: flex;
}

.size-logo1{
 display: none  ;
}


