.nav-bar {
    height: 120px;
    border-bottom: 1px solid white;
    margin: 0px 20px;
    display: flex;
    font-size: 22px;
    position: absolute;
}


.left-side {
    display: flex;
    width: 87rem;
    align-items: center;
    justify-content: space-between;
}

.left-side img {
    width: 204px;
}

.left-side ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
    
}

.links {
    user-select: none;
}

.nav-bar a:link {
    color: white;
    text-decoration: none;
}

.nav-bar a:visited {
    color: white;
    text-decoration: none;
}



.white-line {
    width: 1px;
    background-color: white;
    margin: 0px 30px;
}



.right-side {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 30%;
    padding: 35px 0px;
    gap: 35px;
}

.right-side .language {
    display: flex;
    align-items: center;
}

.right-side .language p {
    margin-right: 6px;
}

.right-side .button-div {
    display: flex;
}

.right-side #language-selector {
    display: none;
    position: absolute;
    top: 85px;
    right: 423px;
    z-index: 1;
    width: 70px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
    color: black;
}



#lang-sel .languages {
    display: flex;
    align-items: center;
    cursor: pointer;
}

#lang-sel .languages p {
    margin-right: 7px;
}

#language-selector p {
    cursor: pointer;
}

#lang-sel {
    user-select: none;
}



.nav-bar button {
    height: 59px;
    width: 254px;
    border: 0;
    background-color: #2E2BD0;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    font-family: myFont;
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

