body {
    margin: 0;
}

@font-face {
    font-family: Neue Machina;
    src: url(../../Fonts/NeueMachina-Light.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(../../Fonts/Gilroy-Light.otf);
}

:root {
    --blue: #2e2bd0;
    --light_Blue: #CBCAF3;
    --dark_grey: #2f353f;
    --grey: #2f353fb3;
    --light_grey: #ffffff80;
    --white: #FFFFFF;
}
/* common */
#tabNames {
    margin: 0 0 0 9.375rem;
    font-family: "Neue Machina";
    font-size: 3.75rem;
    line-height: 150%;
    color: var(--dark_grey)
}




/* Main box */
.aboutBox {
    position: relative;
    margin: 0 auto;
    width: 120rem;
}




/* Who we are */
.wWTab {
    height: 61.1875rem;
}




/* Our Team */
.oTTab {
    margin-top: 18.75rem;
    height: 120.5625rem;
}

/* Text under "Our Team" */
#oTTopTxt {
    width: 44.6875rem;
    height: 6.75rem;
    margin: 1.125rem 0rem 6.25rem 56.25rem;
    font-family: "Gilroy";
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--grey);
}

/* Image */
.oTImg {
    box-sizing: border-box;
    width: 116.25rem;
    height: 57.0625rem;
    margin: 0 auto;
    background: url(../../img/our_team.png);
    background-size: cover;
    border: .125rem solid var(--blue);
    border-radius: 4.375rem;
}

/* Cards */
.oTCards {
    margin: 6.25rem auto 0 auto;
    justify-content: space-around;
    display: flex;
}

.oTCard {
    height: 25.5rem;
    margin-top: 6.25rem;
}

#oTLine {
    /* Line */
    width: 0rem;
    height: 35.5rem;
    border: .0625rem solid var(--blue);
}

.oTCardTop {
    /* top part of a card */
    color: var(--blue);
    font-family: "Neue Machina";
    font-size: 3.75rem;
    line-height: 2.875rem;
    margin: 0rem 0rem 7.125rem 0rem;
}

.oTCardMiddle {
    /* middle part of a card */
    font-family: "Neue Machina";
    font-size: 3.75rem;
    line-height: 2.875rem;
    margin: 0 0 4.25rem 0;
    color: var(--dark_grey)
}

.oTCardBottom {
    /* bottom part of a card */
    font-family: "Gilroy";
    font-size: 1.875rem;
    line-height: 2.875rem;
    color: var(--grey);
    margin: 0;
}




/* IT Support Group trough the years */
.sGTab {
    margin-top: 18.75rem;
    height: 74.6875rem;
}

#sGTop {
    width: 44.6875rem;
    height: 6.75rem;
    margin: 3.125rem 0rem 6rem 56.25rem;
    font-family: "Gilroy";
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: var(--grey);
}

.sGCard {
    margin: auto;
    height: 47.3125rem;
    width: 116.25rem;
    border: .0625rem solid var(--blue);
    border-radius: 4.375rem;
    background-color: var(--blue);
}

.sGYears {
    margin: 6.25rem 0 6.25rem 0;
    display: flex;
    width: 97.5rem;
}

#hLYear {
    margin: 3.75rem 10.9375rem 0 11.4375rem;
    font-family: 'Neue Machina';
    font-size: 5rem;
    height: 4.8125rem;
    line-height: 4.8125rem;
    color: white;
}

#kk13 {
    height: 3.625rem;
    margin: 3.75rem 12.75rem 0 12.1875rem;
    font-family: 'Neue Machina';
    font-size: 3.75rem;
    line-height: 3.625rem;
    color: var(--light_grey);
}

#kk15 {
    margin: 3.75rem 0 0 0;
    height: 3.625rem;
    font-family: 'Neue Machina';
    font-size: 3.75rem;
    line-height: 3.625rem;
    color: var(--light_grey);
}

#kk20 {
    margin: 3.75rem 0 0 0;
    height: 3.625rem;
    font-family: 'Neue Machina';
    font-size: 3.75rem;
    line-height: 3.625rem;
    color: var(--light_grey);
}

#kk22 {
    margin: 3.75rem 0 0 8.5rem;
    height: 3.625rem;
    font-family: 'Neue Machina';
    font-size: 3.75rem;
    line-height: 3.625rem;
    color: var(--light_grey);
}

#sGImg {
    margin-left: 9.375rem;
    height: 9.375rem;
    width: 97.5rem;

}

.sGList {
    /* List in bottom of div */
    margin: 0 0 0 60.9375rem;
    width: 40.625rem;
    height: 11.25rem;
    font-family: 'Gilroy';
    font-size: 1.5rem;
    line-height: 2.25rem;
    color: white;
}




/* What our clients say about us */
.rVTab {
    margin-top: 18.75rem;
    height: 63.1875rem;
}

.reviews {
    width: 102.75rem;
    height: 43.9375rem;
    margin: 6.25rem auto 0 auto;
}

.rVBox {
    height: 43.9375rem;
    width: 33.75rem;
    border: .0625rem solid #909398;
    border-radius: 2.875rem;
    float: left;
}

.rVBoxMid {
    border-left: 0;
    border-right: 0;
}

.rVImg {
    border: .0625rem solid var(--blue);
    border-radius: 6.25rem;
    width: 5.625rem;
    height: 5.625rem;
    margin: 6.25rem 25rem 0rem 3.125rem;
}

.rVBoxElem {
    font-family: 'Neue Machina';
    margin: 0rem;
    padding-left: 3.125rem;

}

.rVHl {
    font-family: 'Neue Machina';
    font-size: 1.625rem;
    width: 12.8125rem;
    line-height: 150%;
    color: var(--blue);
}

.rVPos {
    font-family: 'Gilroy';
    font-size: 1.25rem;
    line-height: 130%;
}

.rVQt {
    padding-top: 3.125rem;
    font-family: 'Gilroy';
    font-size: 1.875rem;
    line-height: 150%;
}

.rVBtn {
    cursor: pointer;
    margin: 7.125rem 0rem 0rem 3.125rem;
    height: 3.625rem;
    width: 19.875rem;
    border-radius: .625rem;
    border: .0625rem solid var(--blue);
    font-family: 'Neue Machina';
    font-size: 1.25rem;
    line-height: 1.1875rem;
    color: var(--blue);
}

.rVBtn .fa-solid {
    padding-left: 1.25rem;
}

.rVBtn:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.3s;
}

.rVPages {
    width: 15.375rem;
    height: 2.625rem;
    margin: 6.25rem auto 0 auto;
    display: flex;
}

.rVSlct {
    cursor: pointer;
    height: 2.5625rem;
    width: 2.5625rem;
    text-align: center;
    border: .125rem solid var(--light_Blue);
    border-radius: .625rem;
    font-size: 1.25rem;
    color: var(--light_Blue);
    transition: 0.3s;
}

.rVSlct:hover {
    border-color: var(--blue);
    color: var(--blue);
}

#rVInd {
    margin: 0rem 3.125rem 0rem 3.125rem;
    font-family: 'Neue Machina';
    font-size: 2rem;
    line-height: 150%;
    width: 3.75rem;
}