html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


@font-face {
    font-family: Neue Machina;
    src: url(../../Fonts/NeueMachina-Light.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(../../Fonts/Gilroy-Light.otf);
}

.nav-bar {
    top: 0;
}

/* common */
:root {
    --blue: #2e2bd0;
    --light_Blue: #CBCAF3;
    --dark_grey: #2f353f;
    --grey: #2F353F;
    --light_grey: #909398;
    --white: #FFFFFF;
}

/* common */
#tabNames {
    margin: 0 0 0 7.8125vw;
    font-family: "Neue Machina";
    font-size: 3.125vw;
    line-height: auto;
    color: var(--dark_grey)
}




/* Main box */
.aboutBox {
    margin: 0 auto;
    width: 100vw;
}




/* Who we are */
.wWTab {
    margin-top: 14.0104vw;
    height: 51.6667vw;
}

.wWMain {
    display: flex;
    margin-top: 3.3333vw;
    margin-bottom: 10.4167vw;
}

.wWText {
    margin-left: 7.8125vw;
    font-family: "Gilroy";
    font-size: 1.25vw;
    line-height: 1.875vw;
    color: var(--grey);
}

.wWText p {
    width: 39.1667vw;
}

.wWInfo {
    margin-left: 7.8125vw;
    flex-wrap: wrap;
    display: flex;
    font-family: "Gilroy";
    font-size: 1.25vw;
    line-height: 1.875vw;
    color: var(--grey);
}

.info {
    border: .0521vw solid var(--grey);
    border-radius: 2.0833vw;
    height: 12.2396vw;
    width: 18.6458vw;
}

.wWInfoText {
    margin-left: 2.6042vw;
    font-family: "Gilroy";
}

.wWInfoTop {
    margin: 2.6042vw 0 0 2.6042vw;
    color: var(--blue);
    font-size: 3.125vw;
    line-height: 3.125vw;
}

.wWInfoBottom {
    margin-top: 2.1875vw;
    color: var(--grey);
}

.wWBtm {
    margin-top: 1.25vw;
}

.decoration {
    margin-left: 8.3333vw;
    display: flex;
    height: 9.375vw;
}

.wWBall {
    width: 9.375vw;
    height: 9.375vw;
    border: .1563vw solid var(--white);
    border-radius: 100%;
    margin-left: -2.5521vw;
}

.wWBallBlue {
    background-color: var(--blue);
}

.wWBallBlack {
    background-color: var(--dark_grey);
}

.wWBallGrey {
    background-color: var(--light_grey);
}

.wWBallLast {
    cursor: pointer;
    background-color: #9995e5;
    text-align: center;
    display: flex;
    align-items: center;
}

.wWPlus {
    color: #2e2bd0;
    text-align: center;
    padding-left: 1.5625vw;
    height: 6.5104vw;
    width: 6.5104vw;
}





/* Our Team */
.oTTab {
    margin-top: 15.625vw;
    height: 100.4688vw;
}

/* Text under "Our Team" */
#oTTopTxt {
    width: 37.2396vw;
    height: 5.625vw;
    margin: 2.6042vw 0 5.2083vw 46.875vw;
    font-family: "Gilroy";
    font-size: 1.25vw;
    line-height: 1.875vw;
    color: var(--grey);
}

/* Image */
.oTImg {
    box-sizing: border-box;
    width: 96.875vw;
    height: 47.5521vw;
    margin: 0 auto;
    background: url(../../img/our_team.png);
    background-size: cover;
    border: .1042vw solid var(--blue);
    border-radius: 3.6458vw;
}

/* Cards */
.oTCards {
    margin: 7.8125vw auto 0 auto;
    justify-content: space-around;
    display: flex;
}

.oTCard {
    height: 21.25vw;
    margin-top: 5.2083vw;
}

#oTLine {
    /* Line */
    margin: 0 4.6296vw 0 4.6296vw;
    width: 0;
    height: 29.5833vw;
    border: .0521vw solid var(--blue);
}

.oTCardTop {
    /* top part of a card */
    color: var(--blue);
    font-family: "Neue Machina";
    font-size: 3.125vw;
    line-height: 2.3958vw;
    margin: 0 0 5.9375vw 0;
}

.oTCardMiddle {
    /* middle part of a card */
    font-family: "Neue Machina";
    font-size: 3.125vw;
    line-height: 2.3958vw;
    margin: 0 0 3.5417vw 0;
    color: var(--dark_grey)
}

.oTCardBottom {
    /* bottom part of a card */
    font-family: "Gilroy";
    font-size: 1.5625vw;
    line-height: 2.3958vw;
    color: var(--grey);
    margin: 0;
}




/* IT Support Group trough the years */
.sGTab {
    margin-top: 15.625vw;
    height: 59.4167vw;
}

#sGTop {
    width: 37.2396vw;
    height: 5.625vw;
    margin: 2.6042vw 0 5.2083vw 46.875vw;
    font-family: "Gilroy";
    font-size: 1.25vw;
    line-height: 1.875vw;
    color: var(--grey);
}

.sGCard {
    margin: auto;
    height: 39.4271vw;
    width: 96.875vw;
    border: .0521vw solid var(--blue);
    border-radius: 3.6458vw;
    background-color: var(--blue);
}

.sGYears {
    margin: 5.2083vw 0 5.2083vw 0;
    display: flex;
    width: 81.25vw;
}

#hLYear {
    margin: 3.125vw 9.1146vw 0 9.5313vw;
    font-family: 'Neue Machina';
    font-size: 4.1667vw;
    height: 4.0104vw;
    line-height: 4.0104vw;
    color: white;
}

#kk13 {
    height: 3.0208vw;
    margin: 3.125vw 10.625vw 0 10.1563vw;
    font-family: 'Neue Machina';
    font-size: 3.125vw;
    line-height: 3.0208vw;
    color: var(--light_grey);
}

#kk15 {
    margin: 3.125vw 0 0 0;
    height: 3.0208vw;
    font-family: 'Neue Machina';
    font-size: 3.125vw;
    line-height: 3.0208vw;
    color: var(--light_grey);
}

#kk20 {
    margin: 3.125vw 0 0 0;
    height: 3.0208vw;
    font-family: 'Neue Machina';
    font-size: 3.125vw;
    line-height: 3.0208vw;
    color: var(--light_grey);
}

#kk22 {
    margin: 3.125vw 0 0 7.0833vw;
    height: 3.0208vw;
    font-family: 'Neue Machina';
    font-size: 3.125vw;
    line-height: 3.0208vw;
    color: var(--light_grey);
}

#sGImg {
    margin-left: 7.8125vw;
    height: 7.8125vw;
    width: 81.25vw;

}

.sGList {
    /* List in bottom of div */
    margin: 0 0 0 50.7813vw;
    width: 33.8542vw;
    height: 9.375vw;
    font-family: 'Gilroy';
    font-size: 1.25vw;
    line-height: 1.875vw;
    color: white;
}




/* What our clients say about us */
.rVTab {
    margin-top: 15.625vw;
    height: 52.6563vw;
}

.reviews {
    width: 85.625vw;
    height: 36.6146vw;
    margin: 5.2083vw auto 0 auto;
}

.rVBox {
    height: 36.6146vw;
    width: 28.125vw;
    border: .0521vw solid var(--light_grey);
    border-radius: 2.3438vw;
    float: left;
}

.rVBoxMid {
    border-left: 0;
    border-right: 0;
}

.rVImg {
    border: .0521vw solid var(--blue);
    border-radius: 5.2083vw;
    width: 4.6875vw;
    height: 4.6875vw;
    margin: 5.2083vw 20.8333vw 0 2.6042vw;
}

.rVBoxElem {
    font-family: 'Neue Machina';
    margin: 0;
    padding-left: 2.6042vw;

}

.rVHl {
    font-family: 'Neue Machina';
    font-size: 1.3542vw;
    width: 10.6771vw;
    line-height: 150%;
    color: var(--blue);
}

.rVPos {
    color: var(--light_grey);
    font-family: 'Gilroy';
    font-size: 1.0417vw;
    line-height: 130%;
}

.rVQt {
    color: var(--light_grey);
    padding-top: 2.6042vw;
    font-family: 'Gilroy';
    font-size: 1.5625vw;
    line-height: 150%;
}

.rVBtn {

    cursor: pointer;
    margin: 5.9375vw 0 0 2.6042vw;
    height: 3.0208vw;
    width: 16.5625vw;
    border-radius: .5208vw;
    border: .0521vw solid var(--blue);
    font-family: 'Neue Machina';
    font-size: 1.0417vw;
    line-height: .9896vw;
    color: var(--blue);
}

.rVBtn .fa-solid {
    padding-left: 1.0417vw;
}

.rVBtn:hover {
    background-color: var(--blue);
    color: var(--white);
    transition: 0.3s;
}

.rVPages {
    width: 12.8125vw;
    height: 2.1875vw;
    margin: 5.2083vw auto 0 auto;
    display: flex;
}

.rVSlct {
    cursor: pointer;
    height: 2.1354vw;
    width: 2.1354vw;
    text-align: center;
    border: .1042vw solid var(--light_Blue);
    border-radius: .5208vw;
    font-size: 1.0417vw;
    color: var(--light_Blue);
    transition: 0.3s;
}

.rVSlct:hover {
    border-color: var(--blue);
    color: var(--blue);
}

#rVInd {
    margin: 0 2.6042vw 0 2.6042vw;
    font-family: 'Neue Machina';
    font-size: 1.6667vw;
    line-height: 150%;
    width: 3.125vw;
}