body {
    margin: 0;
}

@font-face {
    font-family: Neue Machina;
    src: url(../../Fonts/NeueMachina-Light.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(../../Fonts/Gilroy-Light.otf);
}

:root {
    --blue: #2e2bd0;
    --dark_grey: #2f353f;
    --grey: #2f353fb3;
    --light_grey: #ffffff80;
}

/* Main box */
.aboutBox {
    position: relative;
    margin: 0 auto;
    width: 1920px;
    height: 8725px;
}


/* Our Team */

.oTTab {
    height: 1929px;
}

/* Our Team Top*/
#oTTab {
    position: absolute;
    width: 282px;
    height: 90px;
    left: 150px;
    top: 0px;
    font-family: "Neue Machina";
    font-size: 60px;
    line-height: 150%;
    color: var(--dark_grey)
}

/* Text under "Our Team" */
#oTTopTxt {
    position: absolute;
    width: 715px;
    height: 108px;
    left: 900px;
    top: 140px;
    font-family: "Gilroy";
    font-size: 24px;
    line-height: 36px;
    color: var(--grey);
}

/* Image */
.oTImg {
    box-sizing: border-box;
    position: absolute;
    width: 1860px;
    height: 913px;
    left: 30px;
    top: 348px;
    background: url(../../img/our_team.png);
    background-size: cover;
    border: 2px solid var(--blue);
    border-radius: 70px;
}

/* Cards */
.oTCard1 {
    /* 1 */
    position: absolute;
    width: 411px;
    height: 368px;
    left: 150px;
    top: 1461px;
}

.oTCard2 {
    /* 2 */

    position: absolute;
    width: 408px;
    height: 368px;
    left: 727px;
    top: 1461px;
}

.oTCard3 {
    /* 3 */

    position: absolute;
    width: 468px;
    height: 368px;
    left: 1302px;
    top: 1461px;
}

#oTLine1 {
    /* Line */
    position: absolute;
    width: 0px;
    height: 568px;
    left: 644px;
    top: 1361px;
    border: 1px solid var(--blue);
}

#oTLine2 {
    /* Line */
    position: absolute;
    width: 0px;
    height: 568px;
    left: 1218px;
    top: 1361px;
    border: 1px solid var(--blue);
}

.oTCardTop {
    /* top part of a card */
    color: var(--blue);
    font-family: "Neue Machina";
    font-size: 60px;
    line-height: 46px;
    position: absolute;
    top: -100px;
}

.oTCardMiddle {
    /* middle part of a card */
    font-family: "Neue Machina";
    font-size: 60px;
    line-height: 46px;
    position: absolute;
    top: 50px;
    color: var(--dark_grey)
}

.oTCardBottom {
    /* bottom part of a card */
    position: absolute;
    top: 200px;
    font-family: "Gilroy";
    font-size: 30px;
    line-height: 46px;
    color: var(--grey);
}


/* IT Support Group trough the years */

.sGTab {
    margin-top: 300px;
    margin-bottom: 300px;
    height: 1195px;
}

#sGTab {
    width: 540px;
    padding-left: 150px;
    font-family: "Neue Machina";
    font-size: 60px;
    line-height: 150%;
    color: var(--dark_grey);
    margin: 0px;
}

#sGTop {
    position: absolute;
    width: 715px;
    height: 108px;
    left: 900px;
    top: 2435px;
    font-family: "Gilroy";
    font-size: 24px;
    line-height: 36px;
    color: var(--grey);
}

.sGCard {
    position: absolute;
    margin-left: 25px;
    height: 757px;
    width: 1860px;
    top: 2667px;
    border: 1px solid var(--blue);
    border-radius: 70px;
    background-color: var(--blue);
}

#hLYear {
    /* 2018 */
    margin: 0;
    position: absolute;
    left: 889px;
    top: 150px;
    font-family: 'Neue Machina';
    font-size: 80px;
    line-height: 77px;
    color: white;
}

#kk13 {
    /* 2013 */

    position: absolute;
    left: 195px;
    top: 109px;
    font-family: 'Neue Machina';
    font-size: 60px;
    line-height: 58px;
    color: var(--light_grey);
}

#kk15 {
    /* 2015 */

    position: absolute;
    left: 552px;
    top: 109px;
    font-family: 'Neue Machina';
    font-size: 60px;
    line-height: 58px;
    color: var(--light_grey);
}

#kk20 {
    /* 2020 */

    position: absolute;
    left: 1267px;
    top: 109px;
    font-family: 'Neue Machina';
    font-size: 60px;
    line-height: 58px;
    color: var(--light_grey);
}

#kk22 {
    /* 2022 */

    position: absolute;
    left: 1569px;
    top: 109px;
    font-family: 'Neue Machina';
    font-size: 60px;
    line-height: 58px;
    color: var(--light_grey);
}

#sGImg {
    left: 150px;
    top: 277px;
    height: 150px;
    width: 1560px;
    position: absolute;
}

.sGList {
    /* List in bottom of div */

    position: absolute;
    width: 650px;
    height: 180px;
    left: 975px;
    top: 477px;
    font-family: 'Gilroy';
    font-size: 24px;
    line-height: 36px;
    color: white;
}


/* What our clients say about us */

.rVTab {
    height: 1011px;
}

#rVTab {
    padding-left: 150px;
    font-family: "Neue Machina";
    font-size: 60px;
    line-height: 150%;
    color: var(--dark_grey)
}

.reviews {
    width: 1644px;
    height: 703px;
    margin: 0 auto;
}

.rVBox {
    height: 703px;
    width: 540px;
    border: 1px solid var(--blue);
    border-radius: 46px;
    float: left;
}

.rVBoxMid {
    border-left: 0;
    border-right: 0;
}

.rVImg {
    width: 90px;
    height: 90px;
    padding: 100px 400px 0px 50px;
}

.rVBoxElem {
    font-family: 'Neue Machina';
    margin: 0px;
    padding-left: 50px;

}

.rVHl {
    font-family: 'Neue Machina';
    font-size: 26px;
    width: 205px;
    line-height: 150%;
    color: var(--blue);
}

.rVPos {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 130%;
}

.rVQt {
    padding-top: 50px;
    font-family: 'Gilroy';
    font-size: 30px;
    line-height: 150%;
}

.rVBtn {
    cursor: pointer;
    margin: 114px 0px 0px 50px;
    height: 58px;
    width: 318px;
    border-radius: 10px;
    border: 1px solid var(--blue);
    font-family: 'Neue Machina';
    font-size: 20px;
    line-height: 19px;
    color: var(--blue);
}

.rVBtn .fa-solid{
    padding-left: 20px;
}

.rVPages {
    width: 246px;
    height: 42px;
    margin: 0 auto;
    margin-top: 104px;
    display: flex;
}

.rVSlct {
    cursor: pointer;
    height: 42px;
    width: 39px;
    text-align: center;
    border: 1px solid var(--blue);
    border-radius: 10px;
    font-size: 20px;
    color: var(--blue);
}

#rVInd {
    margin: 0px 50px 0px 50px;
    font-family: 'Neue Machina';
    font-size: 32px;
    line-height: 150%;
}