.nav-bar * {
    font-family: Neue Machina;
}

.nav-bar {
    height: 155px;
    border-bottom: 1px solid gray;
    display: flex;
    font-size: 34px;
    position: absolute;
    left: 30px;
    right: 30px;
}

.left-side {
    display: flex;
    width: 73%;
    align-items: center;
    justify-content: space-between;
}

.left-side img {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 60px;
}

.left-side ul {
    display: flex;
    list-style-type: none;
    gap: 135px;
}

.links {
    user-select: none;
}

.nav-bar a:link {
    color: black;
    text-decoration: none;
}

.nav-bar a:visited {
    color: black;
    text-decoration: none;
}

.white-line {
    width: 1px;
    background-color: gray;
    margin: 0px 100px;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 27%;
    gap: 130px;
}

.right-side .language {
    display: flex;
    align-items: center;
}

.nav-bar .main-lang {
    padding-top: 7px;
}
    
.right-side .language p {
    margin: 0;
}

.right-side .button-div {
    display: flex;
}

.right-side #language-selector {
    display: none;
    position: absolute;
    top: 90px;
    right: -26px;
    z-index: 1;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid gray;
    backdrop-filter: blur(20px);
}

#lang-sel .languages img {
    width: 28px;
    position: static;
}

#lang-sel .languages {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

#language-selector p {
    cursor: pointer;
}

#lang-sel {
    user-select: none;
    position: relative;
}

.nav-bar button {
    height: 80px;
    width: 340px;
    border: 0;
    background-color: #2e2bd0;
    color: white;
    border-radius: 15px;
    font-size: 27px;
    font-family: Neue Machina;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.nav-bar button img {
    width: 30px;
}