@media (max-width: 1080px) {
.touch-with-us {
    display: block;
    flex-direction: column;
    margin: 0 auto;
  }

  * {
    box-sizing: border-box;
}
  .touch-with-us{
    width: 95%;
    margin-top: 20px;
  }
  footer{
    flex-direction: column;
  }
  .left h1{
    height: 100px;
  }

  .left,.upload-right {
    width: 100%;
    max-width: 1025px;
  }

  .left {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
  }
  .left p{
    width: 100%;
    height: 80px;
    max-width: 1000px;
    font-size: 25px;
  }

 
 .upload-right {
    width: 100%;
    max-width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

 .registration {
  display: contents;
}


  .column1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }

  input {
    width: 100%;
  }
  
.down {
    width: 100%;
    max-width: 1025px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
  }


 .submitt {
    display: none;
  }

  .submitt1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    margin-top: 40px;
    align-self: flex-start;
    order: 10;
  }

}


/* Used technologies */

@media (max-width: 1080px) {
  .section-ut {
    display: flex;
    flex-direction: column;
    margin: 60px 20px;
    gap: 0;
  }

  .title-technologies {
    font-size: 36px;
    width: 100%;
    line-height: 1.2;
    margin-left: 0rem;
    margin-bottom: 2rem;
  }

  .top-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 40px;
  }

  .description {
    width: 100%;
    font-size: 1rem;
    margin: 0 0 1rem 0;
    line-height: 150%;
    color: #6b6b6b;
    letter-spacing: 1.2px;
    width: 29rem;
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 1rem;
  }

  .timeline {
    width: 100%;
    margin-left: 0;
    overflow: visible;
  }

  .timeline-line {
    display: none;
  }

  .timeline-items {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

.timeline-items::before {
    content: '';
    position: absolute;
    left: 9px;
    top: 0;
    bottom: 23px;
    width: 2px;
    background: #d4d4d4;
    z-index: 0;
}

  .timeline-item {
    display: flex;
    flex-direction: column;
    padding-left: 36px;
    padding-bottom: 20px;
    
  }

  .timeline-item .dot {
    position: absolute;
    left: 0.4rem;
    top: 0.7rem;   
    width: 9px;
    height: 9px;
    margin: 0;
    z-index: 1;
}

  .timeline-item.active .dot {
    width: 15px;
    height: 15px;
    background: #2E2BD0;
    box-shadow: 0 0 0 7px #2E2BD026, 0 0 28px 0 #2E2BD040;
    margin-left: -0.2rem;
    margin-bottom: -1rem;
    margin-top: -0.5rem;
  }

  /* Tech title */
  .tech-title {
    font-size: 14px;
    color: #9b9b9b;
    letter-spacing: 1px;
    line-height: 1.4;
    cursor: pointer;
    margin-left: 1rem;
    margin-top: 0.45rem;
    font-family: myFont;
    font-weight: normal;
  }

  .timeline-item.active .tech-title {
    font-size: 18px;
    color: #1a1a1a;
    width: 100%;
    line-height: 1.4;
    margin-left: 0.9rem;
    margin-bottom: 3rem;
    margin-top: 0rem;
  }

  .timeline-item .icon-box {
    display: none;
  }

  .timeline-item.active .icon-box {
    display: flex;
    width: 57px;
    height: 57px;
    margin: 0;
    border-radius: 10px;
    border: 2px solid #2E2BD0;
    margin-left: 0.8rem;
    margin-top: -1.6rem;
    margin-bottom: 1rem;
  }

  .timeline-item.active .icon-box img {
    width: 38px;
    height: 38px;
  }


  .timeline-item .eighth {
    margin-left: 0;
  }


  .firstTitle {
    font-size: 14px;
    width: auto;
  }
}