@media (max-width: 1080px) {
/* Get in touch with us */
  * {
    box-sizing: border-box;
  }
  .touch-with-us {
    display: block;
    flex-direction: column;
    margin: 0 auto;
  }
   .touch-with-us{
    width: 95%;
    margin: 20px auto 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  footer{
    flex-direction: column;
  }

  .left h1{
    font-size: 64px;
    line-height: 1;
    height: auto;
  }

  .left,.upload-right {
    width: 100%;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
  .left p{
    width: 100%;
    font-size: 22px;
    line-height: 1.4;
    height: auto;
  }

 
 .upload-right {
    width: 100%;
    max-width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

 .registration {
  display: contents;
}


  .column1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;
  }

  input {
    width: 100%;
  }
  
.down {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }


 .submitt {
    display: none;
  }

  .submitt1 {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    margin-top: 40px;
    align-self: flex-start;
    order: 10;

  }


}
