@media (min-width: 1081px) {
    .nav-bar {
        height: 155px;
        border-bottom: 1px solid white;
        display: flex;
        font-size: 32px;
        position: absolute;
        left: 35px;
        right: 35px;
    }

    .nav-bar-space {
        width: 100%;
        display: flex;
        gap: 100px;
    }

    .nav-bar .white-box {
        display: none;
    }

    .nav-bar .logo-mobile {
        display: none;
    }



    .left-side {
        display: flex;
        width: 75%;
        align-items: center;
        justify-content: space-between;
    }

    .left-side img {
        display: flex;
        justify-content: left;
        align-items: center;
        width: 272px;
    }

    .left-side ul {
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 160px;
    }

    .links {
        user-select: none;
    }

    .nav-bar a:link {
        color: white;
        text-decoration: none;
    }

    .nav-bar a:visited {
        color: white;
        text-decoration: none;
    }

    .white-line {
        width: 1px;
        background-color: white;
        align-self: stretch;
    }

    .right-side {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 25%;
    }

    .right-side .language {
        display: flex;
        align-items: center;
    }

    .right-side .language p {
        margin: 0;
    }

    .right-side .button-div {
        display: flex;
    }

    .right-side #language-selector {
        display: none;
        position: absolute;
        top: 90px;
        right: -26px;
        z-index: 1;
        width: 130px;
        text-align: center;
        border-radius: 10px;
        border: 1px solid white;
        backdrop-filter: blur(5px);
    }

    #lang-sel .languages img {
        width: 30px;
        position: static;
    }

    #lang-sel .languages {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 8px;
    }

    #language-selector p {
        cursor: pointer;
    }

    #lang-sel {
        user-select: none;
        position: relative;
    }

    .nav-bar button {
        height: 80px;
        width: 330px;
        border: 0;
        background-color: #2e2bd0;
        color: white;
        border-radius: 15px;
        font-size: 27px;
        font-family: myFont;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        cursor: pointer;
    }

    .nav-bar button img {
        width: 30px;
    }

}

@media (max-width: 1081px) {
    .nav-bar {
        height: 110px;
        display: flex;
        font-size: 32px;
        position: absolute;
        justify-content: space-between;
        align-items: center;
        top: 25px;
        right: 35px;
        left: 35px;
    }

    .nav-bar .white-box {
        width: 64px;
        height: 64px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 14px;
        cursor: pointer;
        flex-shrink: 0;
    }

    .nav-bar .white-box img {
        width: 28px;
        cursor: pointer;
    }

    .nav-bar-space {
        display: none;
    }

    .nav-bar .logo-mobile img {
        width: 220px;
    }
}