.nav-bar {
    height: 155px;
    border-bottom: 1px solid white;
    display: flex;
    font-size: 29px;
    position: absolute;
    left: 30px;
    right: 30px;
}

.left-side {
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.left-side img {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 285px;
}

.left-side ul {
    display: flex;
    list-style-type: none;
    gap: 80px;
}

.links {
    user-select: none;
}

.nav-bar a:link {
    color: white;
    text-decoration: none;
}

.nav-bar a:visited {
    color: white;
    text-decoration: none;
}

.white-line {
    width: 1px;
    background-color: white;
    margin: 0px 80px;
    align-self: stretch;
}

.right-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}

.right-side .language {
    display: flex;
    align-items: center;
}

.nav-bar .main-lang {
    padding-top: 7px;
}
    
.right-side .language p {
    margin: 0;
}

.right-side .button-div {
    display: flex;
}

.right-side #language-selector {
    display: none;
    position: absolute;
    top: 90px;
    right: -26px;
    z-index: 1;
    width: 130px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid white;
    backdrop-filter: blur(5px);
}

#lang-sel .languages img {
    width: 28px;
    position: static;
}

#lang-sel .languages {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
}

#language-selector p {
    cursor: pointer;
}

#lang-sel {
    user-select: none;
    position: relative;
}

.nav-bar button {
    height: 80px;
    width: 330px;
    border: 0;
    background-color: #2e2bd0;
    color: white;
    border-radius: 15px;
    font-size: 27px;
    font-family: myFont;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.nav-bar button span {
    position: relative;
    top: 4px;
}

.nav-bar button img {
    width: 30px;
}
